body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #3b3b3b;
    margin: 0; /* Remove default body margin */
}

.card {
    width: 1050px;
    padding: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: rgb(77, 77, 77);
    margin-top: 50px;
    text-align: center;
    color: white;
}

.chart-container {
    position: relative;
    height: 200px;
    width: 100%;
    margin-bottom: 10px;
}

input .crypto-input {
    flex: 1;
    padding: 15px;
    border: 1px solid #5e5e5e;
    background-color: #5e5e5e;
    border-radius: 9px;
    outline: none;
    font-size: 16px;
    color: white;
    
}

input {
    flex: 1;
    padding: 15px;
    border: 1px solid #5e5e5e;
    background-color: #5e5e5e;
    border-radius: 9px;
    outline: none;
    font-size: 16px;
    color: white;
    width: 1050px;
}


.select-container {
    background-color: #e2d300;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px; /* Space between input and button */
    max-width: 1050px;
    margin: 30px auto; /* Center the select container */
}

.btn-update {
    padding: 15px 20px;
    background-color: #5e5e5e;
    color: white;
    border: none;
    border-radius: 9px;
    font-weight: bold;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto; /* Center the container */
    width: 100%; /* Full width for consistency */
}

h1 {
    color: #e2d300;
}

.prompt-container {
    margin-top: 30px;
    width: 100%;
}

.analyze-btn {
    padding: 15px 20px;
    background-color: #e2d300;
    border: none;
    border-radius: 9px;
    font-weight: bold;
    cursor: pointer;
}


label{
    display: none;
}
p {
    color: white;
}
